<style>
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 10%;
}
td {
  border: 2px solid #4a90e2;
  padding: 10px;
  text-align: center;
  background-color: #ffd700;
}
</style>

<table>
  <tr>
    <td colspan=3>Hisar</td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td colspan=2>DNC</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BCA</td>
          <td>Manu</td>
        </tr>
        <tr>
          <td>MCA</td>
          <td>Shiv</td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td colspan=2>MDU</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BSc</td>
          <td>Radha</td>
        </tr>
        <tr>
          <td>MSc</td>
          <td>Ram</td>
        </tr>
      </table>
    </td>
    
    <td>
      <table>
        <tr>
          <td colspan=2>GJU</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BBA</td>
          <td>Laxmi</td>
        </tr>
        <tr>
          <td>MBA</td>
          <td>Sita</td>
        </tr>
      </table>
    </td>
  </tr>
  
  <tr>
    <td colspan=3>Bhiwani</td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td colspan=2>DNC</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BCA</td>
          <td>Manu</td>
        </tr>
        <tr>
          <td>MCA</td>
          <td>Shiv</td>
        </tr>
      </table>
    </td>

    <td>
      <table>
        <tr>
          <td colspan=2>MDU</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BSc</td>
          <td>Radha</td>
        </tr>
        <tr>
          <td>MSc</td>
          <td>Ram</td>
        </tr>
      </table>
    </td>
    
    <td>
      <table>
        <tr>
          <td colspan=2>GJU</td>
        </tr>
        <tr>
          <td>Courses</td>
          <td>Dean</td>
        </tr>
        <tr>
          <td>BBA</td>
          <td>Laxmi</td>
        </tr>
        <tr>
          <td>MBA</td>
          <td>Sita</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
